
[submodule "packages/PhysX"]
	path = packages/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "packages/LuaJIT"]
	path = packages/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "packages/glm"]
	path = packages/glm
	url = https://github.com/g-truc/glm
[submodule "packages/openal-soft"]
	path = packages/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "packages/gli"]
	path = packages/gli
	url = https://github.com/g-truc/gli
[submodule "packages/glfw"]
	path = packages/glfw
	url = https://github.com/glfw/glfw.git
[submodule "packages/Chipmunk2d"]
	path = packages/Chipmunk2d
	url = https://github.com/slembcke/Chipmunk2D.git
[submodule "packages/HLSLcc"]
	path = packages/HLSLcc
	url = https://github.com/Unity-Technologies/HLSLcc.git
[submodule "packages/mtlpp"]
	path = packages/mtlpp
	url = https://github.com/naleksiev/mtlpp.git
[submodule "packages/json"]
	path = packages/json
	url = https://github.com/nlohmann/json.git
[submodule "packages/GSL"]
	path = packages/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "packages/date"]
	path = packages/date
	url = https://github.com/HowardHinnant/date.git
